/* your custom css */
.navigationSlider .slidingNav ul li {
  flex: none;
}

.navigationSlider .slidingNav ul li:nth-child(4) {
  margin-left: auto;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  /* insert here if you need */
}

@media only screen and (max-width: 1023px) {
  /* insert here if you need */
}

@media only screen and (min-width: 1024px) {
  /* Site header width in custom pages */
  body .wrapper,
  body .headerWrapper.wrapper {
    max-width: 1400px;
  }

  .navigationSlider {
    margin-left: 168px;
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  /* insert here if you need */
}

@media only screen and (min-width: 1500px) {
  /* insert here if you need */
}

html {
  overflow-y: scroll; /* To always have scrollbar visible and avoid header jump, when page is loading */
}

a {
  color: crimson;
}

a:hover {
  color: limegreen;
}

.button {
  text-transform: inherit; /* Override `uppercase` */
}

article p img {
  display: inherit; /* Override `block`, especially for badge images */
}

article h1 {
  margin-top: 0; /* Remove extra margin */
}

.postHeader:empty {
  display: none; /* Disable this because `article h1` is used instead of `.postHeader` */
}

.nav-footer {
  /* Too much space in footer */
  padding-bottom: 1em;
  padding-top: 1em;
}

/* Auto-generated by text description patterns. See `pattern-validity.js` */
.valid-pattern {
  background: #eef7ee;
}

.invalid-pattern {
  background: #fee;
}

/* Active links in site header: https://docusaurus.io/docs/en/navigation#active-links-in-site-navigation-bar */
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  color: rgb(255 255 255 / 80%);
}

.navigationSlider .slidingNav ul li a[href^="http"] {
  color: rgb(255 255 255 / 50%);
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a {
  color: white;
}

.docsSliderActive .toc .toggleNav ul {
  padding-left: 8px;
}

.navGroup:last-child {
  display: none;
}

.mainContainer .wrapper .post .postHeader {
  margin-bottom: 0;
}
