.navigation {
  background: black;
  font-size: 0.875rem;
}

.item {
  border-bottom: 1px solid grey;
  display: block;
  list-style: none;
}

.items {
  display: block;
}

.itemInner {
  color: white;
  display: block;
  padding: 1rem 0.75rem;
  text-decoration: none;

  &::after {
    content: "›";
    float: right;
    top: 0;
  }

  &:hover {
    color: limegreen;
  }
}

.secondaryItems {
  border-top: 1px solid grey;
  composes: items;
}

.itemSecondary {
  composes: item;

  &:last-child {
    border-bottom: 0;
  }
}

.itemInnerSecondary {
  color: color(white a(70%));
  composes: itemInner;
  padding-left: 2rem;
}

@media (width > 54em) {
  .navigation {
    margin-left: auto;
    position: absolute;
    right: 12em;
    top: 0;
  }

  .items {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
  }

  .item {
    align-items: center;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 0 1.5rem 0 0;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .itemInner {
    border-width: 0;
    padding: 1rem 0;
    position: relative;

    &::after {
      display: none;
    }
  }

  .secondaryItems {
    border: 0;
    display: flex;
    margin-left: 1.5rem;
  }

  .itemSecondary {
    margin-right: 1.5rem;
  }
}
