.root {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.result {
  align-items: baseline;
  display: flex;
  font-family: "Oxygen Mono", monospace;
  margin-top: 0.2em;
}

.location {
  flex: none;
  font-size: 0.75em;
  margin: 0 1em 0 0;
  min-width: 9em;
}

.message {
  font-size: 0.875em;
  margin: 0;
}
