.header {
  background: black;
  padding-left: 1rem;
}

.inner {
  align-items: center;
  display: flex;
  height: 3.5rem;
}

.item {
  color: white;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.logo {
  display: block;
  height: 29px;
  width: 144px;
}

.burger {
  color: white;
  margin-left: auto;
  padding: 1rem;

  &:hover {
    color: limegreen;
  }
}

.burgerSvg {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

@media (width > 54em) {
  .header {
    padding: 0 2rem;
  }

  .inner {
    height: 4rem;
  }

  .burger {
    display: none;
  }
}
