.root {
  padding: 0 1rem;
}

.input {
  border: 1px solid #b3b3b3;
  margin-top: 1em;
  max-width: 100%;
  min-height: 300px;
}

.results {
  margin-top: 1em;
}

.console {
  color: crimson;
  display: block;
  font-family: "Oxygen Mono", monospace;
  font-weight: bold;
  white-space: pre;
}
