.demo {
	align-items: stretch;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.valid-pattern .prism-code {
	box-shadow: 0 -3px 0 0 green !important;
}

.invalid-pattern .prism-code {
	box-shadow: 0 -3px 0 0 crimson !important;
}

/* Hide generated list of rules in sidebar */
/* stylelint-disable selector-class-pattern */
.theme-doc-sidebar-menu
	.theme-doc-sidebar-item-category-level-1:nth-child(2)
	.theme-doc-sidebar-item-category-level-2:nth-child(5) {
	display: none;
}

.docs-doc-id-user-guide\/rules .markdown table {
	display: table;
	width: 100%;
}

/* Align all table columns */

/* Make cells with rule name as wide as possible */
.docs-doc-id-user-guide\/rules .markdown table td:first-child {
	width: 100%;
}

/* Make cells without symbol (empty) have the same width as cells with symbol */
.docs-doc-id-user-guide\/rules .markdown table td:not(:first-child) {
	box-sizing: content-box;
	min-width: 1rem;
}

/* Make a rule name stand out */
.docs-doc-id-user-guide\/rules .markdown table tbody tr td:first-child :link code {
	font-weight: bold;
}

/* Remove table header */
.docs-doc-id-user-guide\/rules .markdown table thead {
	display: none;
}
