.demo {
	align-items: stretch;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.valid-pattern > div {
	box-shadow: 0 -3px 0 0 green !important;
}

.invalid-pattern > div {
	box-shadow: 0 -3px 0 0 crimson !important;
}

/* Hide generated list of rules in sidebar */
/* stylelint-disable-next-line selector-class-pattern */
.menu__list-item:nth-of-type(2) .menu__list-item:nth-of-type(3) .menu__list-item:last-child {
	display: none;
}
