.navigation {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.link {
  color: #ed143d;
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  padding: 0 0.5rem;
  text-decoration: none;

  &:hover {
    color: #32cd32;
  }
}
