.items {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  padding: 0 1rem;
}

.item {
  list-style: none;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.itemInner {
  align-items: center;
  color: black;
  display: flex;
  height: 42px;
  justify-content: center;
  text-decoration: none;
  width: 42px;

  &:hover {
    color: limegreen;
  }
}

.svg {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

@media (width > 54em) {
  .footer {
    height: 5rem;
  }
}
