.root {
  background: black;
  margin: 0;
  padding: 0 1rem;
}

.inner {
  align-items: center;
  display: flex;
  height: 3rem;
  margin: 0;
  padding: 0;
}

.item {
  color: white;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.logo {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: -5px;
  text-decoration: none;

  &:hover {
    color: limegreen;
  }
}

.tux {
  display: block;
  fill: currentColor;
  height: 34px;
  width: 34px;
}

.name {
  display: block;
  font-family: Niconne, cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 2px;
  margin-left: 2px;
}

.menu {
  align-items: center;
  color: white;
  display: flex;
  font-family: "Work Sans", sans-serif;
  font-feature-settings: "liga" 1, "kern";
  font-size: 0.875rem;
  margin-left: auto;
  text-decoration: none;

  &:hover {
    color: limegreen;
  }
}

.burger {
  display: inline-block;
  fill: currentColor;
  height: 12px;
  margin-right: 4px;
  width: 12px;
}

@media (min-width: 48em) {
  .root {
    padding-left: 2rem;
  }

  .inner {
    height: 4rem;
  }

  .menu {
    display: none;
  }
}
