name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      # NOTE: The purpose of `ready_for_review` is to trigger workflow runs when a pull request is created in GitHub Actions.
      # See https://github.com/peter-evans/create-pull-request/blob/v7/docs/concepts-guidelines.md#triggering-further-workflow-runs
      - ready_for_review

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/call-lint.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    permissions:
      contents: read

  test:
    uses: stylelint/.github/.github/workflows/call-test.yml@2844df54744d5b95507c6df844b1422478dd3cc1 # 0.5.0
    with:
      node-version-file: .nvmrc
    permissions:
      contents: read
