name: Release Stylelint

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Update Stylelint
        id: update-stylelint
        run: |
          new_version="$(npm view stylelint version)"
          npm install "https://github.com/stylelint/stylelint/tarball/${new_version}" --save-dev
          echo "new-version=${new_version}" >> "${GITHUB_OUTPUT}"

      - name: Test
        run: npm test

      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: Release ${{ steps.update-stylelint.outputs.new-version }}
          title: Release ${{ steps.update-stylelint.outputs.new-version }}
          body: |
            See https://github.com/stylelint/stylelint/releases/tag/${{ steps.update-stylelint.outputs.new-version }}
          branch: release/${{ steps.update-stylelint.outputs.new-version }}
          sign-commits: true
          draft: always-true
