name: Update Awesome Stylelint

on:
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC
  workflow_dispatch:

jobs:
  update-awesome-stylelint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc

      - name: Install latest npm
        run: npm install --global npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Get current version
        id: current
        run: |
          current_version=$(npm ls awesome-stylelint --json | jq -r '.dependencies."awesome-stylelint".resolved' | grep --only -E '[0-9a-z]+$')
          echo "version=${current_version}" >> "${GITHUB_OUTPUT}"

      - name: Update Awesome Stylelint
        run: npm update awesome-stylelint

      - name: Get new version
        id: new
        run: |
          new_version=$(npm ls awesome-stylelint --json | jq -r '.dependencies."awesome-stylelint".resolved' | grep --only -E '[0-9a-z]+$')
          echo "version=${new_version}" >> "${GITHUB_OUTPUT}"

      - name: Create pull request
        if: steps.current.outputs.version != steps.new.outputs.version
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: Update Awesome Stylelint
          title: Update Awesome Stylelint
          body: |
            This pull request updates [Awesome Stylelint](https://github.com/stylelint/awesome-stylelint).

            https://github.com/stylelint/awesome-stylelint/compare/${{ steps.current.outputs.version }}...${{ steps.new.outputs.version }}
          branch: update-awesome-stylelint
          sign-commits: true
          draft: always-true
